apparmor==3.1.7
attrs==23.2.1.dev0
beautifulsoup4==4.12.3
btrfsutil==6.10
certifi==2024.8.30
cffi==1.16.0
cryptography==42.0.7
distro==1.9.0
docutils==0.21.2
filelock==3.13.3
LibAppArmor==3.1.7
lit==18.1.8.dev0
packaging==24.1
pillow==10.4.0
ply==3.11
psutil==6.0.0
pycairo==1.27.0
pycparser==2.22
pygdbmi==0.11.0.0
PyGObject==3.48.2
sentry-sdk==2.13.0
smbus==1.1
soupsieve==2.6
TBB==0.2
urllib3==1.26.20
wheel==0.44.0
